<h1>Seja bem vindo!</h1>
<p>O idioma utilizada nessa aplicação é: <%= locale %> </p>
<p>Data: <%= I18n.l(Date.today) %></p>
<p> <%= t('hello')%> </p>

<%= render "menu"%>

<p>
    Voce esta em ambiente de <%= ambiente_rails %>
</p>

<p>
<%= @nome %>
</p>
